
<footer>
<div class="container-fluid p-0">
    <div class="row text-left">
        <div class="col-md-5 col-md-5">
            <h4 class="text-dark">My Personal Website</h4>
            <p class="text-dark">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec pharetra purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
            </p>
            <p class="pt-4 text-dark">
                Copyright ©2020 All rights reserved. This website was made by Melissa Teran-Contreras
            </p>
        </div>
        <div class="col-md-5"></div>


        <div class="col-md-"></div>
    </div>
</div>
</footer>